.smallImage {
  width: 64px;

}

.navbarPad > * {
  margin-right: 10px;
}

.nameText {
  font-size: 1.5rem;
  color: #FFA63A;
}

.topText {
  font-size: 1.2rem;
}

.zachbox {
  background-color: #444444;
}