.smallImage {
  width: 64px;

}

.navbarPad > * {
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nameText {
  font-size: 1.5rem;
  color: #f5a524;
  font-weight: 500;
}

.topText {
  font-size: 1.2rem;
  font-weight: 800;
}

.zachbox {
  background-color: #444444;
}

.carousel {
  padding: 10px;
  max-width: 1000px;
}

.headerText {
  font-size: 2rem;
}

.carouselText {
  font-size: 1.2rem;
  color: #cecece;
}

.descriptionText {
  font-size: 1.3rem;
}

.imageButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
}

.projectCards {
  width: 80%;
  margin: auto;
}

.projectButton {
  font-size: 1rem;

}


.resume {
  width: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  max-width: 1000px;
}

.item {
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
}

.item-image {
  display: flex;
  align-items: center;
}

.about-bottom {
  text-align: left;
  margin: auto;
  font-size: 20px;
  max-width: 700px;
}

.fig {
  text-align: center;
}

.image-wrapper {
  position: relative;
}
.image-before {
  border-radius: 16px;
}
.image-hover {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.image-hover:hover {
  border-radius: 16px;
  opacity: 1;
}

.smallNav {
  display: none;
}

.bigNav {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.pdf {
  width:1000px;
  height:1000px;
}

@media (max-width: 1000px) {
  .pdf {
    width:740px;
    height:1000px;
  }
}

@media (max-width: 740px) {
  .smallNav {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  
  .bigNav {
    display: none;
  }
  .pdf {
    width:540px;
    height:1000px;
  }
}

@media (max-width: 540px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 400px;
  }
  .item-image {
    height: fit-content;
  }
  .about-bottom {
    text-align: left;
    font-size: 20px;
    max-width: 400px;
    margin-top: -250px;
  }

  .pdf {
    width:350px;
    height:1000px;
  }
  
}